#docker cloud user id
USER_PATH=

#your docker user on your host
USER_PATH=/home/bobby

#sentry token for nodeJS service crashlytics
SENTRY_TOKEN=

# ElasticSearch server configuration
ES_HOST=
ES_PORT=9200
ES_USER=
ES_PASS=
ES_USESSL=true
ES_KEYSTORE_PATH=/key/keystore.jks
ES_KEYSTORE_PASS=